<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/tenders">Lista przetargów</a></li>
        <li><a href="/tenders/finished">Zakończone przetargi</a></li>
        <li><a href="/tenders/add">Dodaj przetarg</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
