<%- include('header', { title: 'Strona główna' }) %>

<h1>System przetargowy Tendex</h1>
<p style="text-align: center;">System umożliwia ogłaszanie przetargów, składanie ofert oraz przeglądanie aktualnych i zakończonych przetargów.</p>

<%- include('footer') %>
